<!DOCTYPE html>
<html>
<head>
  <title>Target: Omnicalc-1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <table style="width: 100%" border="1">
    <tr>
      <td><strong>Calculators</strong></td>
      <td><a href="/square/new">Square with Form</a></td>
      <td><a href="/square_root/new">Square Root with Form</a></td>
      <td><a href="/payment/new">Payment with Form</a></td>
      <td><a href="/random/new">Random with Form</a></td>
    </tr>
  </table>

  <% if @calculator == "square" %>
    <% if @result %>
      <h1>Square Results</h1>
      <p>The square of <%= @number %> is <%= @result %></p>
    <% else %>
      <form action="/square/results">
        <div>
          <label for="user_number">Enter a number</label>
        </div>
        <div>
          <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square of?">
        </div>
        <button>Calculate square</button>
      </form>
    <% end %>

  <% elsif @calculator == "square_root" %>
    <% if @result %>
      <h1>Square Root Results</h1>
      <p>The square root of <%= @number %> is <%= @result %></p>
    <% else %>
      <form action="/square_root/results">
        <div>
          <label for="user_number">Enter a number</label>
        </div>
        <div>
          <input type="text" name="number" id="user_number" placeholder="What number do you want to take the square root of?">
        </div>
        <button>Calculate square root</button>
      </form>
    <% end %>

  <% elsif @calculator == "payment" %>
    <% if @monthly_payment %>
      <h1>Payment Results</h1>
      <p>A <%= @formatted_apr %> APR loan of <%= @formatted_principal %> for <%= params[:years] %> years requires a monthly payment of <%= @formatted_payment %></p>
    <% else %>
      <form action="/payment/results">
        <div>
          <label for="apr">APR</label>
          <input type="text" name="apr" id="apr">
        </div>
        <div>
          <label for="years">Number of years</label>
          <input type="text" name="years" id="years">
        </div>
        <div>
          <label for="principal">Principal</label>
          <input type="text" name="principal" id="principal">
        </div>
        <button>Calculate monthly payment</button>
      </form>
    <% end %>

  <% elsif @calculator == "random" %>
  <% if @result %>
    <h1>Random Results</h1>
    <p>A random number between <%= params[:min] %> and <%= params[:max] %> is <%= @result %></p>
  <% else %>
    <form action="/random/results">
      <div>
        <label for="minimum">Minimum</label>
        <input type="text" name="min" id="minimum">
      </div>
      <div>
        <label for="maximum">Maximum</label>
        <input type="text" name="max" id="maximum">
      </div>
      <button>Pick random number</button>
    </form>
  <% end %>
  <% end %>
</body>
</html>
